@import '../var.scss';

.text {
    &-shadow {
        &[class*="-red"] {
            text-shadow: $ShadowSize $redShadow;
        }

        &[class*="-orange"] {
            text-shadow: $ShadowSize $orangeShadow;
        }

        &[class*="-yellow"] {
            text-shadow: $ShadowSize $yellowShadow;
        }

        &[class*="-olive"] {
            text-shadow: $ShadowSize $oliveShadow;
        }

        &[class*="-green"] {
            text-shadow: $ShadowSize $greenShadow;
        }

        &[class*="-cyan"] {
            text-shadow: $ShadowSize $cyanShadow;
        }

        &[class*="-blue"] {
            text-shadow: $ShadowSize $blueShadow;
        }

        &[class*="-purple"] {
            text-shadow: $ShadowSize $purpleShadow;
        }

        &[class*="-mauve"] {
            text-shadow: $ShadowSize $mauveShadow;
        }

        &[class*="-pink"] {
            text-shadow: $ShadowSize $pinkShadow;
        }

        &[class*="-brown"] {
            text-shadow: $ShadowSize $brownShadow;
        }

        &[class*="-grey"] {
            text-shadow: $ShadowSize $greyShadow;
        }

        &[class*="-gray"] {
            text-shadow: $ShadowSize $grayShadow;
        }

        &[class*="-black"] {
            text-shadow: $ShadowSize $blackShadow;
        }
    }
}

.text {
    &-xs {
        font-size: 20px;
    }

    &-sm {
        font-size: 24px;
    }

    &-df {
        font-size: 28px;
    }

    &-md {
        font-size: 28px;
    }

    &-lg {
        font-size: 32px;
    }

    &-xl {
        font-size: 36px;
    }

    &-xxl {
        font-size: 44px;
    }

    &-sl {
        font-size: 80px;
    }

    &-xsl {
        font-size: 120px;
    }

    &-Abc {
        text-transform: Capitalize;
    }

    &-ABC {
        text-transform: Uppercase;
    }

    &-abc {
        text-transform: Lowercase;
    }

    &-price {
        &::before {
            content: "¥";
            font-size: 80%;
            margin-right: 4px;
        }
    }

    &-cut {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &-cut-1 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        /* autoprefixer: off */
        -webkit-box-orient: vertical;
        /* autoprefixer: on */
        -webkit-line-clamp: 1;
    }

    &-cut-2 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        /* autoprefixer: off */
        -webkit-box-orient: vertical;
        /* autoprefixer: on */
        -webkit-line-clamp: 2;
    }

    &-cut-3 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        /* autoprefixer: off */
        -webkit-box-orient: vertical;
        /* autoprefixer: on */
        -webkit-line-clamp: 3;
    }

    &-bold {
        font-weight: bold;
    }

    &-center {
        text-align: center;
    }

    &-content {
        line-height: 1.6;
    }

    &-left {
        text-align: left;
    }

    &-right {
        text-align: right;
    }
}

.line-red,
.lines-red,
.text-red {
    color: $red;
}

.line-orange,
.lines-orange,
.text-orange {
    color: $orange;
}

.line-yellow,
.lines-yellow,
.text-yellow {
    color: $yellow;
}

.line-olive,
.lines-olive,
.text-olive {
    color: $olive;
}

.line-green,
.lines-green,
.text-green {
    color: $green;
}

.line-cyan,
.lines-cyan,
.text-cyan {
    color: $cyan;
}

.line-blue,
.lines-blue,
.text-blue {
    color: $blue;
}

.line-purple,
.lines-purple,
.text-purple {
    color: $purple;
}

.line-mauve,
.lines-mauve,
.text-mauve {
    color: $mauve;
}

.line-pink,
.lines-pink,
.text-pink {
    color: $pink;
}

.line-brown,
.lines-brown,
.text-brown {
    color: $brown;
}

.line-grey,
.lines-grey,
.text-grey {
    color: $grey;
}

.line-gray,
.lines-gray,
.text-gray {
    color: $gray;
}

.line-black,
.lines-black,
.text-black {
    color: $black;
}

.line-white,
.lines-white,
.text-white {
    color: $white;
}

.text-shadow {
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.4);
}
