
@import "./main.scss";

.Ebtn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 30px;
  font-size: 28px;
  height: 64px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  overflow: visible;
  margin-left: initial;
  transform: translate(0px, 0px);
  margin-right: initial;
  &::after {
    display: none;
  }
  &:not([class*="bg-"]) {
    background-color: #f0f0f0;
  }
  &[class*="line"] {
    background-color: transparent;
    &::after {
      content: " ";
      display: block;
      width: 200%;
      height: 200%;
      position: absolute;
      top: 0;
      left: 0;
      border: 2px solid currentColor;
      transform: scale(0.5);
      transform-origin: 0 0;
      box-sizing: border-box;
      border-radius: 12px;
      z-index: 1;
      pointer-events: none;
    }
  }
  &.round {
    &[class*="line"] {
      &::after {
        border-radius: 1000px;
      }
    }
  }
  &[class*="lines"] {
    &::after {
      border: 6px solid currentColor;
    }
  }
  &[class*="bg-"] {
    &::after {
      display: none;
    }
  }
  &.sm {
    padding: 0 20px;
    font-size: 20px;
    height: 48px;
  }
  &.lg {
    padding: 0 40px;
    font-size: 32px;
    height: 80px;
  }
  &.icon {
    width: 64px;
    height: 64px;
    border-radius: 500px;
    padding: 0;
    &.sm {
      width: 48px;
      height: 48px;
    }
  }
  &.shadow-blur {
    &::before {
      top: 4px;
      left: 4px;
      filter: blur(6px);
      opacity: 0.6;
    }
  }
  &.button-hover:not([class*="disabled"]) {
    transform: translate(1px, 1px);
  }
  &:active:not([class*="disabled"]) {
    transform: translate(1px, 1px);
  }
  &.block {
    display: flex;
  }
  &[disabled],
  &.disabled {
    opacity: 0.6;
    color: $white;
  }
}

.Ebtn {
  &.shadow {
    &[class*="-brown"] {
      box-shadow: $ShadowSize $brownShadow;
    }
    &[class*="-gray"] {
      box-shadow: $ShadowSize $grayShadow;
    }
    &[class*="-black"] {
      box-shadow: $ShadowSize $blackShadow;
    }
  }
}

// .EButton {
//   background-color: $color-brand-color;
//   color: $color-text-in-brand;
//   text-align: center;
//   position: relative;
//   box-sizing: border-box;
//   overflow: hidden;
//   border-radius: 8px;
//   margin: 10px;

//   &.disabled {
//     border-radius: 8px;
//     font-size: 36px;
//     color: $color-text-disable-s;
//     pointer-events: none;
//     background: $color-bg-disable;
//   }
//   &:active::after {
//     content: "";
//     position: absolute;
//     transform-origin: center;
//     box-sizing: border-box;
//     pointer-events: none;
//     top: -50%;
//     left: -50%;
//     right: -50%;
//     bottom: -50%;
//     transform: scale(0.5);
//     background: rgba(255, 255, 255, 0.2);
//   }
//   &.large {
//     height: 100px;
//     line-height: 100px;
//     font-size: 36px;
//   }
//   &.normal {
//     height: 88px;
//     line-height: 88px;
//     font-size: 32px;
//   }
//   &.small {
//     height: 54px;
//     line-height: 54px;
//     font-size: 28px;
//   }
//   &.mini {
//     height: 48px;
//     line-height: 48px;
//     font-size: 24px;
//   }
//   &.circle {
//     border-radius: 50px;
//     &:active::after {
//       border-radius: 100px;
//     }
//   }
//   &.inline {
//     display: inline-block;
//     &.large {
//       padding: 0 32px;
//     }
//     &.normal {
//       padding: 0 24px;
//     }
//     &.small {
//       padding: 0 16px;
//     }
//     &.mini {
//       padding: 0 8px;
//     }
//   }
//   &.outline {
//     background: transparent;
//     color: $color-brand-color;
//     border: 1px solid $color-brand-color;
//   }

// }
