@import './main.scss';
.ENavbar {
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  background-color: $color-navbar-color;
  z-index: 1000;

  .navbar-left,
  .navbar-right {
    flex: 2;
    height: 100%;
    color: $color-text-navbar;
    overflow: hidden;
    line-height: 88px;
    font-size: 36px;

    text-overflow: ellipsis;
  }

  .navbar-left {
    padding-left: 16px;
    text-align: left;
    //line-height: 1.2;
    margin: 12px 0;
    .taro-img {
      margin-top: 12px;
      width: 64px;
      height: 64px;
    }
    .exe-return {
      margin-top: 24px;
      font-size: 44px;
    }
  }

  .navbar-title {
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 5;
    text-align: center;
   // font-size: 36px;
   // color: $color-text-navbar;
    line-height: 1.2;
    font-weight: 700;
  }

  .navbar-right {
    padding-right: 16px;
    text-align: right;
  }
}
