@import "./cores/border.scss";
@import "./cores/color.scss";
@import "./cores/text.scss";
@import "./cores/shadow.scss";
@import "./cores/radius.scss";
@import "./cores/size.scss";
@import "./cores/transition.scss";
@import "./cores/animation.scss";

@import "./cores/bar.scss";
@import "./cores/list.scss";



@import "./content.scss";
@import "./grid.scss";

@import "./nav-bar.scss";
.round {
  border-radius: 5000px;
}

.radius {
  border-radius: 8px;
}

.response {
  width: 100%;
}




.pull {
  &-left {
    float: left;
  }

  &-right {
    float: right;
  }
}

.display {
  &-grid {
    display: grid;
  }

  &-flex {
    display: flex;

    .flex {
      flex: 1;
    }
  }
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;

  .layout-body {
    padding: 0;
  }
}



.miao-text__wrap {
  word-wrap: break-word;
  white-space: normal;
}
.miao-text__nowrap {
  white-space: nowrap;
}
