.EMessage {
    position: fixed;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    &.card{
        margin: 15px;
        border-radius: 8px;
        width: calc(100vw - 30px);
    }
    &__content {
        padding: 20px;
      width: 100%;
    }
  }
