.fx-panel-wrap {
    &:last-child{
        &.clear-fix-bottom{
                margin-bottom: 0
        }

    }

  &.clear-fix-top {
    margin-top: 18px;
  }
  &.clear-fix-bottom {
    margin-bottom: 18px;
  }

  .panel {
    &-header {

    }
    &-body {

    }
    &-footer {

    }
  }
}
